*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 3.5rem auto;
    width: 100vw;
    height: auto;
    background-color: #d9dbe9;
    display: flex;
    flex-direction: row;
    justify-content: center;
   align-items: center;
    
}
.survey-form{
    background-color: #5e5f65;
    width: 30rem;
    height: auto;    
}
.referals{
    display: flex;
    flex-direction:row;
    gap:1rem;
}
.describe-role{
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.name{
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.comments{
    padding-left: 0.5rem;
}
.text-area{
    margin: 0.8rem;
}
.submit{
    background-color: #2e3245;
    border-color: #2e3245;
    color: #ffff;
    width: 13rem;
    margin:1rem;
    border-radius: 5px;
    font-size: 1.3rem;
}
.btn{
    margin:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}